.container
  .footer
    .footer-wrapper
      hr
      p 
        | &copy; · 2015-2016 &nbsp;
        a(href="http://leftcoding.com") XdaTk
        |  ·

        if viewHelper != null
          span  #{viewHelper.getResponseTime()}ms
       
